<section class="document">
	<div class="document">
		<div class="identity">
			<label>Identität</label>
			<input type="number" value="1" min="1" />
		</div>
		<div class="description">
			<label>Beschreibung</label>
			<input type="text" readonly="true" />
		</div>
		<div class="type">
			<label>Art</label>
			<input type="text" readonly="true" />
		</div>
		<div class="hash">
			<label>Hash</label>
			<input type="text" readonly="true" />
		</div>
		<div class="image">
			<label>Bild</label>
			<img />
		</div>
		<div class="audio">
			<label>Audio</label>
			<audio controls="true"></audio>
		</div>
		<div class="video">
			<label>Video</label>
			<video controls="true"></video>
		</div>
		<div class="other">
			<label>Andere</label>
			<iframe></iframe>
		</div>
	</div>
	<div class="control">
		<button type="button" class="query">abfragen</button>
	</div>
</section>
